* {
    box-sizing: content-box;
}

html {
   color: var(--clr5);
   background-color: var(--clr1);
   line-height: 1.71;
   font-family: play, serif;
}

body {
   margin:0;
   font-size: 0.875rem;
}

